<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>后台管理</title>

    <!-- Bootstrap core CSS -->
   <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">预约系统后台</a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="/logout">退出</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
       <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link " href="/admin">
                  <span data-feather="home"></span>
                  首页
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/user">
                  <span data-feather="file"></span>
                  用户管理
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/new">
                  <span data-feather="file"></span>
                  添加用户
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/stras">
                  <span data-feather="shopping-cart"></span>
                  场地管理
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>功能管理</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link active" href="/admin/start">
                  <span data-feather="file-text"></span>
                  预约管理 <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/fix">
                  <span data-feather="file-text"></span>
                  维修管理
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/comments">
                  <span data-feather="file-text"></span>
                  评论管理
                </a>
              </li>
            </ul>

          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">预约管理</h1>
            <a  class="btn btn-success" href="/admin/start-new">添加预约</a>
          </div>

          <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">场地</th>
                  <th scope="col">预约日期</th>
                  <th scope="col">开始时间</th>
                  <th scope="col">结束时间</th>
                  <th scope="col">申请用户</th>
                  <th scope="col">状态</th>
                  <th scope="col">更改状态</th>
                  <th scope="col">操作</th>
                </tr>
              </thead>
              <tbody>
                {{ each starts }}
                <tr>
                  <th scope="row">{{ $index + 1 }}</th>
                  <td>{{ $value.place }}</td>
                  <td>{{ $value.date }}</td>
                  <td>{{ $value.s_time }}</td>
                  <td>{{ $value.e_time }}</td>
                  <td>{{ $value.user}}</td>
                  <td>{{ $value.status}}</td>
                  <td>
                    <div class="row">
                        <form action="/admin/start-status" method="post">
                          <input type="hidden" name="id" value="{{ $value._id }}">
                          <input type="hidden" name="status" value="通过" >
                          <button class="btn btn-success" type="submit">通过</button>
                        </form>
                        <form action="/admin/start-status" method="post">
                          <input type="hidden" name="id" value="{{ $value._id }}">
                          <input type="hidden" name="status" value="不通过" >
                          <button class="btn btn-danger" type="submit">不通过</button>
                        </form>
                        <form action="/admin/start-status" method="post">
                          <input type="hidden" name="id" value="{{ $value._id }}">
                          <input type="hidden" name="status" value="审核中" >
                          <button class="btn btn-warning" type="submit">审核中</button>
                        </form>
                    </div>
                  </td>
                  <td>
                    <a class="btn btn-warning" href="/admin/start-delete?id={{ $value._id }}">删除</a>
                  </td>
                </tr>
                {{ /each }}
              </tbody>
          </table>

        </main>
      </div>
    </div>

<script src="/node_modules/jquery/dist/jquery.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
