<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>后台管理</title>

    <!-- Bootstrap core CSS -->
   <link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">预约系统后台</a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="/logout">退出</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="/admin">
                  <span data-feather="home"></span>
                  首页 <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/user">
                  <span data-feather="file"></span>
                  用户管理
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/new">
                  <span data-feather="file"></span>
                  添加用户
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/stras">
                  <span data-feather="shopping-cart"></span>
                  场地管理
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>功能管理</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="/admin/start">
                  <span data-feather="file-text"></span>
                  预约管理
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/fix">
                  <span data-feather="file-text"></span>
                  维修管理
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/comments">
                  <span data-feather="file-text"></span>
                  评论管理
                </a>
              </li>
            </ul>

          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">统计</h1>
          </div>

          <canvas class="my-4" id="chart" width="1000" height="500"></canvas>
        </main>
      </div>
    </div>


<script src="/node_modules/jquery/dist/jquery.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Graphs -->
    <script src="/node_modules/echarts/dist/echarts.min.js"></script>
    <script>
     // 基于准备好的dom，初始化echarts实例
var myChart = echarts.init(document.getElementById('chart'));
    // 指定图表的配置项和数据
    var weatherIcons = {}

    var    option = {
        legend: {},
        tooltip: {
            trigger: 'axis',
            showContent: false
        },
        dataset: {
            source: [
                ['年份', '2012', '2013', '2014', '2015', '2016', '2017'],
                ['百度', 41.1, 30.4, 65.1, 53.3, 83.8, 98.7],
                ['网址', 86.5, 92.1, 85.7, 83.1, 73.4, 55.1],
                ['广告', 24.1, 67.2, 79.5, 86.4, 65.2, 82.5],
                ['其他', 55.2, 67.1, 69.2, 72.4, 53.9, 39.1]
            ]
        },
        xAxis: {type: 'category'},
        yAxis: {gridIndex: 0},
        grid: {top: '55%'},
        series: [
            {type: 'line', smooth: true, seriesLayoutBy: 'row'},
            {type: 'line', smooth: true, seriesLayoutBy: 'row'},
            {type: 'line', smooth: true, seriesLayoutBy: 'row'},
            {type: 'line', smooth: true, seriesLayoutBy: 'row'},
            {
                type: 'pie',
                id: 'pie',
                radius: '30%',
                center: ['50%', '25%'],
                label: {
                    formatter: '{b}: {@2012} ({d}%)'
                },
                encode: {
                    itemName: 'product',
                    value: '2012',
                    tooltip: '2012'
                }
            }
        ]
    };

    myChart.on('updateAxisPointer', function (event) {
        var xAxisInfo = event.axesInfo[0];
        if (xAxisInfo) {
            var dimension = xAxisInfo.value + 1;
            myChart.setOption({
                series: {
                    id: 'pie',
                    label: {
                        formatter: '{b}: {@[' + dimension + ']} ({d}%)'
                    },
                    encode: {
                        value: dimension,
                        tooltip: dimension
                    }
                }
            });
        }
    });

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>
    </script>
  </body>
</html>
