{{ extend './_layout/home.html' }}

{{ block 'content' }}  

    <main role="main">
    
          <!-- Marketing messaging and featurettes
          ================================================== -->
          <!-- Wrap the rest of the page in another container to center all the content. -->
    
      <div class="container marketing">
    

        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">
        <h2>学校活动</h2>
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">中西医结合临床学院举行12·9运动会</h2>
            <p class="lead">为弘扬爱国精神，缅怀历史，牢记历史，12月8日上午，由中西医结合临床学院学生会体育部主办的“12·9”爱国运动会在杏林体育场举行。运动会开幕式伊始，全体学生在操场集合站立，向国旗行注目礼，齐唱国歌。随后，“12·9”运动会正式开始。</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="/public/img/news1.jpg" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">中西医结合临床学院举办2018趣味运动会</h2>
            <p class="lead">10月20日下午，由中西医结合临床学院学生会体育部主办2018趣味运动会在杏林体育场完美落幕。本次趣味运动会历时25天，比赛项目分为个人赛和集体赛两大类。个人赛为百米冲关，集体赛分为班级跳大绳和拔河。学院各年级各班学生踊跃参加。</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="/public/img/news2.jpg" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">中西医结合临床学院举办2019年元旦晚会</h2>
            <p class="lead">元旦晚会在激情澎湃、活力四射的健美操舞中拉开序幕。热情洋溢的舞蹈《青春纪念册》重现青春背后的努力与拼搏，表达对未来生活的美好期望；情景剧《人生》以无声的表演展现出两人从学生到恋人、从青丝到白发相濡以沫的爱情；自由灵活、动感十足的《sexy man》彰显青年学生的蓬勃朝气，展现自我风采；在小品《女生宿舍的钟点工》中，母亲以钟点工的身份为女儿打扫宿舍，娓娓道出父母对出门在外学子的无限关怀；朗诵《我是中国人》铿锵有力、慷慨激昂，表达中华儿女对祖国的热爱及深深眷恋之情。整场晚会精彩纷呈、高潮迭起，为现场观众带来一场精彩绝伦的视听盛宴。</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="/public/img/news3.jpg" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->
  </main>

{{ /block }}